@import "../_vars.scss";

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.socials__element {
  margin: 0 7px;
  font-size: 20px;
  
  &:last-child {
    margin-right: 0;
  }

}

.socials__facebook {
  transition: all .5s ease;
  color: darken($second, 5%);

  &:hover {
    color: darken($second, 10%);
  }
}

.socials__facebook-mini {
  color: $red;
}

.socials__twitter {
  transition: all .5s ease;
  color: lighten($second, 20%);

  &:hover {
    color: darken($second, 0%);
  }
}

.socials__twitter-mini {
  color: $red;
}

.socials__linkedin {
  transition: all .5s ease;
  font-size: 22px;
  color: $second;

   &:hover {
    color: darken($second, 5%);
  }
}

.socials__linkedin-mini {
  color: $red;
}

.socials__google {
  transition: all .5s ease;
  color: darken($red, 5%);
  font-size: 18px;
  margin-left: -2px;

   &:hover {
    color: darken($red, 10%);
  }
}

.socials__google-mini {
  color: $red;
}